@media only screen and (max-width: 1200px) {
    .row {
        margin: 0 15px;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 3rem;
    }
    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 769px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 8rem;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        z-index: 9999999999;
    }
    nav ul li {
        display: block;
        margin: 1rem 0;
        line-height: 3rem;
    }
    nav ul li a {
        font-size: 2rem;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* Deck  */

@media only screen and (max-width: 414px) {
    html {
        font-size: 60.5%;
    }

    .flex-container img {
        height: 210px;
        width: 100%;
    }
    /* Contact Section Start*/

    .contactNewsRoom {
        display: flex;

        flex-direction: column-reverse;
    }
    .contactImage img {
        height: 210px;
        width: 100%;
    }

    #name {
        padding: 2rem;
        width: 100%;
    }
    section {
        padding: 0;
    }

    .contactTeam {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .address {
        margin-left: 0;
    }
    .contactTeam h1 {
        font-size: 4rem;
    }

    .address h4 {
        margin-bottom: 2rem;
    }
    .workinghour p {
        margin-top: 2rem;
    }

    #googleMapSection iframe {
        width: 100%;
        height: 350;
    }
    /* Contact Section End */

    /* Image Section Start */

    .imagePageA img {
        height: 25rem;
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        width: 92%;
    }

    .subImagePart {
        margin-right: 1rem;
    }

    /* Image Section End */

    /* Footer Secton Start */

    #footerSection {
        display: flex;

        justify-content: space-between;
        flex-direction: column;
    }

    .footerSixth {
        display: flex;
        flex-direction: column-reverse;
    }
    .footerLast {
        display: flex;
        justify-content: flex-start;
    }

    .emailSection {
        padding-left: 0rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .footerNav li {
        margin-top: 2rem;
    }

    .footerSecondSection {
        display: flex;
        margin-right: 0rem;
        margin-left: 0rem;
        flex-direction: column;
    }
    .footerNav li {
        margin-left: 0rem;
    }
    .footerFinalSection {
        display: flex;
        flex-direction: column-reverse;
    }

    .footerNavSection {
        display: flex;
    }
    .footerNavLeft {
        display: flex;
        flex-direction: column;
    }

    .footerNavRight {
        display: flex;
        flex-direction: column;
    }

    .footerNavLeft {
        margin-left: 0rem;
        margin-right: 6rem;
    }

    .footerThird {
        margin-left: 0rem;
    }

    .footerNavRight {
        margin-left: 0rem;
    }

    .footerFifth {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    /* Footer Section End */

    /* Video Section Start */
    .videoHero iframe {
        width: 100%;
    }
    #videoSectionPageB {
        display: flex;
        flex-direction: column;
    }
    #videoSection {
        margin-bottom: 4rem;
    }

    .videoHeroPageB {
        margin: 0rem;
        margin-left: 0rem;
    }

    .similarVideo {
        display: flex;
        flex-direction: row;
        width: 100%;
        width: 34rem;
        overflow-x: scroll;
    }

    .similarVideoSection {
        margin-bottom: 3rem;
        margin-left: 0rem;
        margin-right: 0rem;
        background-color: #f9fafc;
    }
    .similarVideo img {
        width: 20rem;
    }

    #videoSectionPageB {
        background-color: #f9fafc;
    }
    #videoSectionPageB .homePageC .cardBody {
        background-color: #f9fafc;
    }

    .similarVideoSectionPageB {
        margin-bottom: 3rem;
        margin-left: 0rem;
        margin-right: 0rem;
        background-color: #f9fafc;
    }

    .similarVideoPageB {
        display: flex;
        flex-direction: row;
        width: 100%;
        width: 36rem;
        overflow-x: scroll;
        background-color: #f9fafc;
    }
    .similarVideoPageB p {
        color: black;
    }
    .similarVideoPageB img {
        width: 22rem;
    }

    /* Video Section End */

    /* Leadership Section Start */

    .flex-container-category {
        flex-direction: column;
    }

    .leadership {
        flex-direction: column-reverse;
        background-color: #f9fafc;
    }

    .featuredStories .categoryTitle {
        font-size: 4rem;

        margin-top: 6rem;
        margin-bottom: 5rem;

        margin-left: 2rem;
    }

    .weeklyStories {
        display: flex;
        margin-left: 2rem;
    }
    .stories p {
        font-size: 1.8rem;
    }

    .rowFirstImage {
        width: 100%;
    }
    .flex-container-category > div h4 {
        margin-bottom: 7rem;
        margin-top: 2rem;
    }

    .flex-container-category > div {
        width: 90%;
        margin-right: 1rem;
        margin-left: 2rem;

        line-height: 2rem;
    }

    .categoryPageTitle {
        flex-direction: column;
    }

    .categoryPageTitle .categoryTitle {
        font-size: 4rem;
        margin-top: 1rem;

        margin-bottom: 3rem;

        margin-left: 2rem;
    }

    .categoryButton {
        margin-left: 2rem;
        margin-top: 0rem;
        margin-bottom: 5rem;
    }

    .categoryPageB {
        display: flex;
        flex-direction: column;
    }

    .categoryPageBImage img {
        height: 25rem;
        width: 100%;
    }

    .homePageC .card1 {
        margin-bottom: 2rem;
    }

    .categoryPageBody {
        margin-right: 0rem;
    }

    #categoryPageCSection {
        margin-top: 0rem;
    }

    .categoryPageCBodyHeading {
        margin: 0.5rem;
        font-size: 2rem;
    }

    .categoryPageCBodyParagraph {
        margin: 0 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    .categoryPageCBody {
        justify-content: center;
        margin-top: 10rem;
    }
    .categoryPageC img {
        width: 100%;
        height: 45rem;
    }

    .categoryPageC img {
        opacity: 0.9;
    }

    .horizontalLine:before {
        content: "";

        width: 31rem;
        height: 0.01rem;
        background: black;
        position: absolute;
        left: 0;
        opacity: 0.1;
    }

    #categoryPageDSection {
        margin-top: 5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .categoryPageD img {
        width: 100%;
        height: 64.2rem;
    }

    .categoryPageDHero {
        flex-direction: column;
    }

    .categoryPageDHero .number {
        color: black;
        font-size: 0.0001rem;
        margin-top: 0.5rem;
    }

    .categoryPageDBodyHeading {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .categoryPageDBody {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .categoryPageDBody h2 {
        font-size: 4rem;
    }

    .categoryPageDBodyParagraph {
        font-size: 1.47rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .categoryButtonD {
        margin-bottom: 3rem;
    }

    .shortDescription {
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .episodeSecondItem:before {
        content: "02";
        position: absolute;
        top: 0rem;
        left: 0rem;
        opacity: 0.1;
        font-size: 7rem;
    }

    .episodeSecondItem:after {
        content: "Episode";
        position: absolute;
        top: 3rem;
        left: 4rem;

        font-size: 2.5rem;
        font-weight: bold;
    }
    .secondPageCCItem {
        margin-left: 14rem;
    }

    .episodeThirdItem:before {
        content: "03";
        position: absolute;
        top: 0rem;
        left: 0rem;
        opacity: 0.1;
        font-size: 7rem;
    }

    .episodeThirdItem:after {
        content: "Episode";
        position: absolute;
        top: 3rem;
        left: 4rem;

        font-size: 2.5rem;
        font-weight: bold;
    }
    .thirdPageCCItem {
        margin-left: 14rem;
    }

    /* Leadership Section End */

    /* Home Page Section Start */

    .flex-container > div p {
        margin-top: 0.5rem;
        margin-bottom: 4rem;
    }

    .flex-container > div {
        margin: 2rem;
    }

    .flexContainerHomepageB {
        flex-direction: column;
    }

    .homePageBSecondPart {
        flex-direction: column;
    }
    .homePageBThirdPart {
        flex-direction: column-reverse;
    }

    .homePageBFirstLeftPart {
        width: 96%;
        margin-right: 0rem;
        margin-left: 0rem;
        text-align: center;
        font-size: 3rem;
    }

    .homePageBFirstLeftImageBody h5 {
        margin-left: 32%;
        margin-top: 20%;
        margin-bottom: 3rem;
    }

    .homePageBFirstLeftImageBodyFirstParagraph {
        display: none;
    }

    .homePageBFirstLeftImageFooter {
        margin-left: 12%;
        margin-top: 30%;
    }

    .homePageBSecondLeftPart {
        width: 100%;
    }

    .counting {
        margin-right: 2rem;
    }

    .weeklyStories {
        margin-right: 7rem;
    }

    .homePageBFirstLeftImage img {
        width: 100%;
        height: 33rem;
    }

    .homePageBFirstRightPart {
        margin-top: 2rem;
        width: 96%;
        margin-right: 1.5rem;
    }
    .homePageBSecondPart {
        display: flex;
    }
    .homePageBSecondLeftPart {
        width: 100%;
    }

    .homePageBSecondRightPart {
        width: 100%;
        margin: 0rem;
    }
    .homePageBThirdPart {
        display: flex;
    }

    .homePageBThirdLeftPart {
        width: 100%;
        margin-right: 1.5rem;
        margin-left: 0rem;
    }

    .homePageBThirdRightPart {
        width: 100%;
    }

    .homePageBFirstLeftImageBody h5 {
        margin-left: 0%;
        margin-top: 12%;
        margin-bottom: 3rem;
    }

    .homePageBFirstLeftImageFooter {
        margin-left: 12%;
        margin-top: 18%;
    }

    .homePageBSecondRightMost h2 {
        text-align: left;
        padding: 2rem;
        line-height: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 2.3rem;
    }

    .homePageBSecondRightMost p {
        line-height: 3.4rem;
    }

    .homePageC iframe {
        width: 100%;
    }

    .card1 {
        margin-top: 5rem;
    }

    .cardFooter {
        margin-bottom: 0rem;
    }

    .cardFooter {
        margin-bottom: 2rem;
    }

    .cardBody p {
        margin-bottom: 3rem;
    }
    .homePageCRow {
        flex-direction: column;
    }

    .firstRowSecondImageFooter {
        margin-left: 0%;
    }

    .homePageBFirstLeftImage {
        margin-left: 2rem;
    }

.homePageBHeroImage img{
    height: 43rem;
}
   









    /*  Home Page Section End*/
}
