/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 10px--->(10/16)*100=62.5% */
/* using percentage for more useful for responsive site specifically zoom in zoom out */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Titillium Web", sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}
ul li {
    list-style-type: none;
}

/* Heading */
/* 42/10=4.2rem */
h1 {
    font-size: 4.2rem;
    color: #fff;
}

/* Reusabble Components */

.row {
    max-width: 132rem;
    margin: 0 auto;
}
section {
    padding: 2rem 0;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

/* Little Description  -Paragraph */
.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}
h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.box {
    padding: 1%;
}
.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: black;
}

/* Header Section */

.logo {
    height: 3.5rem;
    width: auto;

    float: left;
    background-color: black;
    margin-left: 0;
}

/* Main Navigation  */

.main-nav {
    float: left;
}
.main-nav li {
    display: inline-block;
    margin-left: 1rem;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: 0.6rem 1.6rem;
    border-radius: 0.3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: coral;
}
.active {
    background: rgba(100, 58, 121, 1);
    border-radius: 0.3rem;
}

/* Sticky Navigation */
nav {
    display: flex;
    background-color: white;

    align-items: center;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    padding: 6px;
    position: sticky;
    top: 1rem;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.9);
    padding: 1rem 0;
    box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9);
    z-index: 9999;
    background-color: white;
}

.sticky .main-nav {
    margin-top: 0.2rem;
}

/* Mobile Menu */

.mobile-menu {
    float: right;
    margin-left: 30rem;
}
.mobile-menu span {
    color: black;
    font-size: 3rem;
}
.mobile-menu span {
    cursor: pointer;
}
.overlay {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}
.overlay a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #999;
    padding: 1rem 0;
}
.overlay a:hover {
    color: #fff;
}
.overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
}
.sticky .mobile-menu span {
    margin-top: 0;
    line-height: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: #f9fafc;
}

.flex-container > div {
    width: 100%;
    margin: 2rem;

    text-align: left;
    line-height: 2rem;
}
.flex-container > div h4 {
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.flex-container > div p {
    font-size: 1.4rem;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
}

.footer {
    background-color: black;
    color: white;
    padding: 3.5rem;
    display: flex;
    justify-content: space-around;
}

.logoFooter {
    font-size: 4rem;
}

.copyright {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #868c98;
}
.footerNav li {
    list-style: none;
}
.footerNav li a {
    text-decoration: none;
    color: white;
    font-weight: 250;
}

.footerLast {
    display: flex;
    justify-content: flex-end;
    color: #868c98;
}
.footerLast li {
    font-size: 2rem;
    list-style: none;
    margin-left: 1rem;
}

.footerLast li a {
    text-decoration: none;
    color: #868c98;
}
.emailSection {
    padding: 1rem;
    display: flex;
}
#email {
    padding: 1rem;
    width: 19rem;
}
.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    width: 17rem;
    cursor: pointer;
}

/* Home Page 2 */
.wrapper {
    display: grid;
    grid-gap: 20px;
}
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "showcase showcase top-box-a"
        "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
.top-box1 {
    grid-area: showcase;
    min-height: 100px;
    background: url(/assets/image/driving-home-page-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.item2 {
    grid-area: menu1;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}

.item6 {
    grid-area: footer1;
}
.item7 {
    grid-area: menu2;
    background-color: #ff565d;
    color: white;
    padding: 1rem;
}
.item7 p {
    font-size: 1.5rem;
    font-weight: 10;
}
.item8 {
    grid-area: menu3;
}
.item9 {
    grid-area: footer2;
}
.item10 {
    grid-area: footer4;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "footer4 footer4 footer4 footer4 footer4 footer4 menu1  menu1"
        "footer4 footer4 footer4 footer4 footer4 footer4 menu2 menu2"
        "main main right right right right menu2  menu2"
        "main main footer1 footer1 footer2 footer2 menu3 menu3";
    grid-gap: 15px;
    background-color: #2196f3;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 0 0;
    font-size: 30px;
}
/* Home Page 3 */
/* First Row */
.homePageC .card1 {
    background-color: white;
    box-shadow: 1rem solid black;
}
.homePageC .card1 h3 {
    font-size: 2rem;
}
.homePageC hr {
    border: 0.019rem solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.homePageC .cardFooter {
    display: flex;
    margin-bottom: 2rem;
}
.homePageC .cardBody p {
    margin: 1rem 0;
}
.homePageC .cardBody {
    padding: 2rem;
}
.homePageC .cardBody .role {
    font-size: 2.5rem;
    font-weight: 600;
}
.homePageC .cardFooter p {
    margin-right: 2rem;
}
.homePageC .card2 {
    background-color: #ff565d;
    color: white;
}
.homePageC .card2 .icon {
    font-size: 10rem;
    padding: 1.5rem;
}
.homePageC .card2 h3 {
    padding: 1.5rem;
}
.homePageC .card2 .second {
    margin-bottom: 5rem;
}
/* Home Page c Third Row */
.homePageC .card3 h3 {
    margin: 2rem 0;
    color: #ff565d;
}
.homePageC .card3 p {
    margin-bottom: 2rem;
}
.homePageC .card3 hr {
    border: 0.03rem solid black;
}
.homePageC .users img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -3rem 0 2rem 40%;
}
/* Home Page c Second Row */
.homePageCRow {
    display: flex;
}
.author .kinga {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 6rem;
    width: 6rem;
}
.author img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.author p {
    margin: 0 0;
    margin-top: 3rem;
}
.author h3 {
    margin: 0 0;
    color: black;
    font-size: 1.7rem;
}
/* Categories */
/* LeaderShip */

/* Category Page A  */

.flex-container-category {
    display: flex;
    justify-content: space-between;
    background-color: #f9fafc;
}

.flex-container-category > div {
    width: 35rem;
    margin: 2rem;

    text-align: left;
    line-height: 2rem;
}

.flex-container-category > div h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*  Category Page A Second Part */
.leadership {
    display: flex;
}
.weeklyStories {
    display: flex;
    margin-left: 6rem;
}
.counting {
    font-size: 2rem;
    color: #dadada;
}
.featuredStories .weeklyStories .stories {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}
.featuredStories .weeklyStories hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.featuredStories .categoryTitle {
    font-size: 5rem;
    color: black;
    margin-top: 8rem;
    margin-bottom: 8rem;
    text-align: left;
    margin-left: 6rem;
}
/* Category Page B Section*/
.categoryPageB {
    position: relative;
    display: flex;
}
.categoryPageBody {
    position: absolute;
    background-color: white;
    margin-top: 22rem;
    margin-right: 2rem;
}

.categoryPageBody p:last-child {
    font-size: 2.5rem;
}
.categoryPageBody .categoryPageBodyPart {
    margin-left: 3rem;
    margin-top: 2rem;
}
.categoryPageTitle .categoryTitle {
    font-size: 5rem;
    color: black;
    margin-top: 8rem;
    margin-bottom: 8rem;
    text-align: left;
    margin-left: 2rem;
}
/* Button */
.categoryButton {
    background-color: #ffffff;
    border: none;
    color: #f44336;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    width: 19rem;
    height: 6rem;
    cursor: pointer;
    margin-right: 10rem;
    border: 0.1rem solid black;
    border-bottom: 0.3rem solid #ff565d;

    margin-top: 15rem;
}
.categoryPageTitle {
    display: flex;
    justify-content: space-between;
}
/* Category Page C Section */
#categoryPageCSection {
    margin-top: 5rem;
}
.categoryPageC img {
    width: 100%;
    height: 60rem;
}

.categoryPageCBody {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    border-bottom: 0.5rem solid red;
}
.categoryPageCSection {
    position: relative;
}
.categoryPageCBodyHeading {
    font-size: 2.5rem;
}
.categoryPageCBodyParagraph {
    margin: 0 7rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.description {
    margin-left: 2rem;
    padding: 2rem;
}

.description p:first-child {
    color: #fe555a;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.headingDescription h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.5rem;
}
.headingDescription p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.headingDescription hr {
    border-bottom: 0.5rem solid #fe555a;
}
#categoryPageCSection {
    background-color: #f9fafc;
}
/* Category Page D  Section*/
#categoryPageDSection {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.categoryPageD img {
    width: 100%;
    height: 60rem;
}

.categoryPageDBody {
    top: 2rem;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 5rem;
    text-align: left;
    color: white;
    border-bottom: 0.5rem solid #ff565d;
}
.categoryPageDSection {
    position: relative;
}
.categoryPageDBodyHeading {
    font-size: 1.5rem;
    color: #ff565d;
}

.categoryPageDHero {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
}
.categoryPageDHero .number {
    color: #ff565d;
    font-size: 13rem;

    margin-top: 2rem;
}
.categoryPageDBody h2 {
    text-align: left;
    font-size: 5rem;
    color: white;
}
.categoryButtonD {
    border: none;
    color: #f44336;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    width: 19rem;
    height: 6rem;
    cursor: pointer;
    margin-top: 3rem;
    border: 0.1rem solid white;
    border-bottom: 0.3rem solid #ff565d;
}
.firstItem {
    display: flex;
    margin-left: 3rem;
    margin-top: 4rem;
}
.firstItem h4 {
    font-size: 3rem;
    margin-right: 2rem;
}
.shortDescription {
    display: flex;
}
/* Video Page A Section */
#videoSection {
    background-color: #3a3428;
}
.videoHero {
    margin: 3rem;

    text-align: center;
}
.similarVideoSection {
    background-color: white;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.similarVideoTitle {
    font-size: 2.5rem;
    padding: 2rem;
    margin-left: 0.2rem;
}
.similarVideoTitle hr {
    margin-top: 1.5rem;
}
.firstVideo img {
    height: 15rem;
    width: 100%;
}
.firstVideo p {
    padding: 1rem;
    line-height: 1.8rem;
}
.firstVideo {
    margin-left: 1rem;
}
.similarVideo {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
/* Video Page B Section */
#videoSectionPageB {
    background-color: #3a3428;

    display: flex;
}
.videoHeroPageB {
    margin: 3rem;

    margin-left: 10rem;
}
.similarVideoSectionPageB {
    margin-bottom: 1rem;

    margin-right: 10rem;
}

.similarVideoTitlePageB {
    font-size: 1rem;
    padding: 2rem;
    margin-left: 0.2rem;

    background-color: white;
}

.firstVideoPageB img {
    height: 12rem;
    width: 100%;
}
.firstVideoPageB p {
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
}
.firstVideoPageB {
    margin-left: 1rem;
}
.similarVideoPageB {
    padding: 2rem;
    background-color: #1e1f24;
}
.leadership {
    display: flex;
    justify-content: space-between;
}
/*  Image Section Page B */
.imageGalery img {
    margin-bottom: 2rem;
}
/*  Image Section Page A */
.imagePageA {
    text-align: center;
    width: 100%;
}

.imageGalaryA {
    background-color: #2f3237;
}
.subImage img {
    width: 100%;
    height: 3rem;
}
.subImagePart:first-child {
    margin-left: 23rem;
}
.subImagePart:last-child {
    margin-right: 30rem;
}
.subImagePart p {
    color: white;
    margin-bottom: 2rem;
}
.subImagePart {
    margin-top: 2rem;
}
/* Article Page A */
.articlePageAFirstPart {
    background-color: #f9fafc;
}
.articlePageAFirstPart h1 {
    color: black;
    padding-top: 8rem;
    font-weight: 1000;
    text-align: left;
    font-size: 6rem;
    margin-left: 25%;
    margin-bottom: 0;
}
.JamesLee {
    display: flex;
}
.JamesLee img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-left: 25%;
    margin-bottom: 3rem;
}
.JamesLee p {
    margin-top: 2rem;
    margin-left: 1rem;
}
.articlePageASecondPart {
    margin-left: 25%;
    margin-right: 31%;
    margin-top: 4rem;
}
.articlePageASecondPart h5 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.articlePageAFirstImage {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.articlePageAFirstImage img {
    width: 100%;
    height: 45rem;
}
.articlePageAThirdPart {
    margin-left: 25%;
    margin-right: 31%;
}
.articlePageAThirdPart hr {
    margin-top: 2rem;
}
.articlePageAFourthPart {
    margin-left: 25%;
    margin-right: 33%;
}
.articleAHeading {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.articleAHeading h3 {
    color: black;
    font-size: 1.8rem;
}
.articleAHeading p {
    color: #ff565d;
    margin-right: 1.5rem;
}

.articleADescription p {
    margin-left: 2rem;
    margin-bottom: 3rem;
}
.articleADescription hr {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.articlePageAFifthPart {
    margin-left: 18%;
    margin-right: 23%;
    display: flex;
}
.articleARight h3 {
    font-size: 1.8rem;
    color: black;
}
.articleARight img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.articleARight {
    margin-left: 6rem;
}
.articleARightAuthor {
    display: flex;
}
.articleARightAuthor h4 {
    margin-top: 5rem;
}
.articlePageASixthPart {
    background-color: #f9fafc;
}
.articlePageASixthPartItem {
    margin-left: 25%;
    margin-right: 31%;
    margin-top: 6rem;
}
.jennaBrown {
    display: flex;
}
.jennaBrown img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
}
.jennaBrown h3 {
    color: black;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}
.userComments {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
}
.userCommentsSection p {
    margin-left: 7rem;
    margin-bottom: 4rem;
}
.userCommentsSection hr {
    margin-bottom: 1rem;
}
/* Message Section */
.messageSection {
    padding: 1rem;
    display: flex;
    margin-top: 5rem;
    padding-bottom: 5rem;
}
#text {
    padding: 4rem;
    width: 60rem;
}
.homePageC .articlePageAHeading {
    color: black;
    text-align: center;
}

/* Contact Page*/
#contactSection {
    background-color: #ff565d;
}

.contactTeam {
    color: white;
    margin-left: 10rem;
    margin-right: 6rem;
}
#name {
    padding: 2rem;
    width: 30rem;
}
.contactNewsRoom {
    display: flex;
}

.contactImage img {
    height: 50rem;
    width: 100%;
}
.contactTeam p {
    margin-bottom: 4rem;
}

.buttonContact {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.addressSection p {
    margin-bottom: 1.5rem;
}
.address {
    margin-left: 4rem;
}

/* Article Page B */
.articlePageBFirstImage img {
    width: 100%;
    height: 40rem;
}

.articlePageBFirstPart {
    position: relative;
}

.articlePageBFirstPartHeading {
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: flex-end;
    display: flex;
}
.articlePageBFirstPartHeading h4 {
    color: black;
    font-size: 7rem;
    margin-left: 15rem;

    margin-bottom: -2.5rem;
}
.articlePageBSecondPart {
    margin-left: 12%;
    margin-right: 15%;
}
.articlePageBSecondPartItem {
    display: flex;
}
.articleBRight h3 {
    font-size: 1.8rem;
    color: black;
}

.articleBRight {
    margin-left: 6rem;
}

.articleARightAuthor h4 {
    margin-top: 5rem;
}
.articlePageBSecondPart h4 {
    margin-bottom: 3rem;
}
.articleBWeeklyStories {
    display: flex;
    margin-left: 2rem;
}
.articleBCounting {
    font-size: 2rem;
    color: #dadada;
    margin-right: 3rem;
}
.articleBFeaturedStories .articleBWeeklyStories .articleBStories {
    font-size: 2rem;
    font-weight: bold;
}
.articleBFeaturedStories .articleBWeeklyStories hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.articleBLeft {
    width: 90%;
}
.articleBSecondImage {
    margin-left: 12%;
    margin-right: 15%;
}
.articleBSecondImage img {
    height: 40rem;
    width: 100%;
}
.articlePageBThirdPart {
    margin-left: 12%;
    margin-right: 50%;
    margin-top: 2rem;
}
.articlePageBThirdPart hr {
    margin-top: 3rem;
}
.articlePageBThirdPart h4 {
    margin-top: 3rem;
    margin-bottom: 5rem;
}
#articlePageBFourthPart {
    display: flex;
    margin-left: 12%;
    margin-top: 2rem;
}
.articlePageBFourthPartLeftPart h4 {
    margin-bottom: 2rem;
}
.articlePageBFourthPartLeftPart {
    margin-right: 12%;
}
.articlePageBFourthPartRightPart {
    margin-right: 6%;
}

.articlePageBFithPart {
    background-color: #f9fafc;
    padding-top: 1rem;
    padding-bottom: 8rem;
}
.articlePageBFifthPartItem {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6rem;
}
.dorothy {
    display: flex;
}
.dorothy img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
}
.dorothy h3 {
    color: black;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}
.articlePageBUserComments {
    display: flex;
}
.articlePageBUserDescription {
    margin-left: 7rem;
    margin-bottom: 4rem;
}
.articlePageBUserCommentsSection hr {
    margin-bottom: 1rem;
}
/* Message Section */
.articlePageBMessageSection {
    padding: 2rem;
    background-color: white;
}
.articlePageBMessageSection #text {
    padding: 3rem;
    width: 55rem;
}

.articlePageBMessageSection h4 {
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
}
.articlePageBMessage {
    display: flex;
}

.articlePageBButton {
    border: none;
    color: Red;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    margin-left: 92%;
    margin-top: 1rem;
}

.articlePageBUserComments .date {
    margin-top: 1.5rem;
}
.date {
    display: flex;
}
.date p {
    margin-left: 0.5rem;
}
.date .da {
    margin-left: 2rem;
}
.articlePageBFourthPartRightPart p {
    margin-left: 20%;
}
.articlePageBUserCommentsSection {
    padding: 2.5rem;
}
.articlePageBUserCommentsSection p:first-child {
    margin-bottom: 3rem;
    font-size: 2rem;
}
.articlePageBUserDescription .reply {
    margin-right: 0.5rem;
}
.articlePageBInsideReplySection {
    margin-left: 10%;
}
#articlePageBFithPart {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5rem;
}
#articlePageBFithPart h1 {
    text-align: center;
    color: black;
}
/* Article Page C  */
.articlePageCFirstImage img {
    width: 100%;
    height: 50rem;
}

.articlePageCFirstPart {
    position: relative;
}

.articlePageCFirstPartHeading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 8%;
}
.articlePageCFirstPartHeading p:first-child {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.articlePageCFirstPartHeading h4 {
    color: white;
    font-size: 5.5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    text-transform: uppercase;

    text-align: center;
}

.articleCAuthor {
    margin-left: 45%;
    color: white;
}
.articleCAuthor h3 {
    color: white;
}
.articlePageCSecondPartItem {
    margin-left: 15%;
    margin-right: 25%;
}
.articlePageCRightParagraph p:first-child {
    font-size: 2rem;
    font-weight: bold;
}
.articlePageCLeftSocialLink {
    color: gainsboro;
    margin-right: 18%;
}
.articlePageCSecondPartItem {
    display: flex;
    margin-top: 3rem;
}
.articlePageCSecondPartItem p {
    margin-bottom: 1rem;
}
.articlePageCThirdPart {
    margin-left: 25%;
    margin-right: 30%;
}
.articlePageCFourthPart {
    margin-left: 25%;
    margin-right: 30%;
}
.articlePageCFourthPart h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.articlePageCFifthImage img {
    width: 100%;
    height: 40rem;
    opacity: 0.6;
    background-color: black;
}
.articlePageCFifthPart {
    margin-left: 10%;
    margin-right: 10%;
}

.articlePageCFifthPart {
    position: relative;
}

.articlePageCFifthPartHeading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 8%;
}
.articlePageCFifthPartHeading p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 2rem;
}

.articlePageCFifthPartHeading h4 {
    color: white;
    font-size: 3.5rem;

    text-transform: uppercase;

    text-align: center;
}

.articlePageCButtonContact {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.articlePageCFormSection {
    text-align: center;
    margin-top: 3rem;
}
.articlePageCFifthPartHeading {
    margin-left: 35%;
}
.services-section {
    text-align: center;
    background: linear-gradient(rgba(2, 14, 11, 0.9), rgba(9, 10, 10, 0.9)),
        url(./img/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.articleCCategoryPageTitle h2 {
    font-size: 4rem;
    text-align: center;
    color: black;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.articlePageCRecommended {
    margin-bottom: 10rem;
}
